*, a, a:visited, a:active, a:hover, ul, ol {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #000;    
}

:root {
    --titulos: 700;
    --texto-padrao: 400;
    --subtitulos: 500;
    --azul-padrao: #2a7aea;
    --azul-hover: #5595e9d8;
    --branco-padrao: #fff;    
    --bg-geral: #F5F5F5;
    --bg-header: #f5f5f5ec;
    --bg-azul: #5595e927;
 }

body {
    font-size: 1.4rem;
    width: 100vw;
    background-color: var(--bg-geral);
}

header,ul {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
}

header {
    padding: 16px 16px;
    background-color: var(--bg-header);
}


.titulo {
    font-weight: var(--titulos);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 16px;
}

.principal {
    text-align: justify;   
}

.texto-secundario {
    font-size: 1.4rem;
    font-weight: var(--texto-padrao);
    margin-bottom: 16px;
}

.nav-link {
    display: none;
}

.contato-link {
    font-size: 1.4rem;
    font-weight: var(--texto-padrao);
}

section {
    background: var(--bg-geral);
    padding: 16px 16px;
}

#previa {
    display: flex;
    flex-direction: column-reverse;
}

#previa-avatar {
    background-image: url(../images/myimage.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.social-links, .subtitulo {
    font-weight: var(--subtitulos);
    font-size: 1.4rem;
    margin-right: 32px;
}

#sobre, #formacao, #contato {
    background-color: var(--bg-azul);
}

#sobre img {
    width: 140px;
}

.grid-container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.grid-box {
    background-color: var(--branco-padrao);
    padding: 34px 16px 8px 16px;
    height: 104px;
    width: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

svg {
    width: 24px;
    
}

i {
    font-size: 2.4rem;
    color: var(--azul-padrao);
}

.grid-text {
    font-size: 1.6rem;
    margin: 0px;
}

.formacao-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formacao-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.formacao-box-img {
    background-color: var(--branco-padrao);
    width: 260px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    
}

.formacao-box-img img{
    width: 84px;
}

.formacao-text-box {
    display: block;
    margin-top: 16px;
    width: 260px;
    height: 60px;
    text-align: justify;
}

.formacao-text-box h3, .projetos-textos h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
    text-align: justify;
}

.formacao-text-box p {
    font-size: 1.4rem;
}

.projetos-box {
    display: flex;
    flex-direction: column;

}

.projetos-img {
    width: 70vw;
    
}

.projetos-score {
    width: 15vh;
    position: relative;
    top: -10vh;
    left: 59vw;
}

.projetos-btn {
    margin-top: 24px;
    margin-bottom: 64px;
}

.btn-default, .btn-default:visited, .btn-default:active { 
    padding: 12px 16px;
    border: 1px solid var(--azul-padrao);
    background-color: var(--azul-padrao);
    color: var(--branco-padrao);
}

.btn-default:hover {
    padding: 12px 16px;
    background-color: var(--azul-hover);
}

.projetos-textos {
    margin-top: -10vh;
}

form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.nome, .email, .assunto {
    width: 80vw;
    height: 44px;
    line-height: 46px;
    padding-top: 20px;
}

.nome:focus, .email:focus, .assunto:focus {
    border-bottom: 2px solid var(--azul-padrao);
    outline: none;
}

.nome {
    background: var(--branco-padrao) url(../images/person.svg) no-repeat 20px;
    background-position-x: 6px;
    padding-left: 26px;
    font-size: 1.5rem;
}

.email {
    background: var(--branco-padrao) url(../images/envelope-at.svg) no-repeat 20px;
    background-position-x: 6px;
    padding-left: 26px;
    font-size: 1.5rem;
}

.assunto {
    background: var(--branco-padrao) url(../images/exclamation-triangle.svg) no-repeat 20px;
    background-position-x: 6px;
    padding-left: 26px;
    font-size: 1.5rem;
}

.nome:focus, .email:focus, .assunto:focus {
    height: 64px;
    background-position-y: 36px;
}

.email::placeholder, .assunto::placeholder {
    position: relative;
    top: -8px;
}

form textarea {
    resize: none;
    width: 80vw;
    height: 200px;
    padding: 12px 0 12px 26px;
    outline: none;
}

.input-label {
    position: relative;
}

.contato-label {
    position: absolute;   
    top: 14px;
    left: 28px;
}

.nome:focus + label, .email:focus + label, .assunto:focus + label, .mensagem:focus + label {
    visibility: visible;
    font-size: 0.8rem;
    opacity: 40%;
    color: var(--azul-hover);
    transition: 1s ease-in-out;
}

.mensagem:focus {
    padding-top: 36px;
}

footer p{
    text-align: center;
    padding: 8px;
}

.erro-campo {
    border-bottom: 2px solid red;
}

.label-fixed{
position: absolute;   
top: 14px;
left: 28px;
visibility: visible;
font-size: 0.8rem;
opacity: 40%;
color: var(--azul-hover);
}

.input-fixed{
    height: 64px;
    background-position-y: 36px;
    padding-left: 26px;
    font-size: 1.5rem;
}

.mensagem-fixed {
    resize: none;
    width: 80vw;
    height: 200px;
    padding: 26px 0 12px 26px;
    outline: none;
}